{% extends 'base.html' %}

{% block content %} 
<section class="bg-info text-light text-center shadow" id="menu">
    <div class="container p-5 bg-info">
        <div class="row">
            <div class="d-md-flex bg-info align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>If the Apocalypse Comes, Beep Me:<br>A Phonebook that Slays</h1>
            </div>
        </div>
    </div>
</section>
<section class="text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../static/css/images/phone_in_hand.jpg" class="img-fluid p-5" alt="Phone in hand with bright blue background">
                <div class="center">All your contacts, reimagined.</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!-- # At this point, Brandon says website created!  -->